{% extends 'base.html' %}

{% block title %}
    Who Are We | We Can Project
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="text-center mb-4">Who Are We ?</h1>
            <div class="card shadow-lg p-4">
                <div class="card-body">
<!--                    <h2 class="text-primary">We Can</h2>-->
                    <p class="lead">
                        We Can is a full-service, community-based Redemption Center (RC), offering an innovative approach to mobile redemption.
                    </p>
                    <p>
                        As a mobile redemption center company, We Can provides a convenient, accessible, and streamlined option for returning deposit containers, such as redeemable cans and bottles.
                        We serve residents, businesses, institutions, and municipalities, making the process effortless and entirely free of charge.
                    </p>
                    <p>
                        Our goal is to make recycling easier and more efficient, contributing to a cleaner environment and supporting local communities.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}